.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#placeholdercolor::placeholder {
  color: #000000;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  /* display: grid; */
  grid-template-columns: 7fr 3fr;
}

.myId {
  height: fit-content;
  /* margin-right: 5rem; */
  border-radius: 5px;
  background: #c9d6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #e2e2e2,
      #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
}

.caller {
  text-align: center;
  color: #fff;
}

body {
  background: #ffffff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #ffffff,
      #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}